.activated {
  background-color: #a7c957;
}
.haifa {
  background-image: url(../../../src/images/haifa.jpg);
}
.tel-aviv {
  background-image: url(../../../src/images/tel-aviv.jpg);
}

.jerusalem {
  background-image: url(../../../src/images/jerusalem.jpg);
}

.herziliya {
  background-image: url(../../../src/images/herzeliya.jpg);
}
