.activated {
  background-color: #a7c957;
}
.haifa {
  background-image: url(../../../images/haifa.jpg);
}
.tel-aviv {
  background-image: url(../../../images/tel-aviv.jpg);
}
.herziliya {
  background-image: url(../../../images/herzeliya.jpg);
}
.jerusalem {
  background-image: url(../../../images/jerusalem.jpg);
}
