.main-container {
  height: 100%;
}

.image-container {
  background-image: url("../../../images/background.jpg");
  background-position: center;
  height: 100%;
  width: 100vw;
  background-repeat: no-repeat;
  background-size: cover;
}

.text-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 65vh;
}
.main-text {
  text-align: center;
  margin-top: 2.5rem;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 60px;
  line-height: 90px;
  color: #ffff;
  width: 800px;
}

.sec-text {
  margin-top: 2.5rem;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 50px;
  line-height: 75px;
  text-align: center;
  color: #ffffff;
}
